<div class="container">
    <div class="container__knowledge">
        <div class="know-head">
            <div>Knowelegde</div>
        </div>
        <div class="know-card">
            <app-contenedor name="hola" />
            <app-contenedor name="hola" />
        </div>
        <div class="know-info">

        </div>
    </div>
    <div class="container__drivers">
        <div class="drivers-header">
            <div class="drivers-header__title">Top Drivers</div>
            <div class="drivers-header__icon">></div>
        </div>
        <div class="drivers-body">
            <app-card-driver 
                image="https://i.pravatar.cc/300" 
                name="Steve Jimbo" 
                phone="+593 995 083 604" 
                orders="5"
                income="98" />
            <app-card-driver 
                image="https://i.pravatar.cc/300" 
                name="Daniela Gonzales" 
                phone="+593 995 083 604" 
                orders="5"
                income="98" />
            <app-card-driver 
                image="https://i.pravatar.cc/300" 
                name="Jessica Ballesteros" 
                phone="+593 995 083 604" 
                orders="5"
                income="98" />
        </div>
    </div>
    <div class="container__table">

    </div>
</div>


<div class="container">
    <div class="container__row">
        <h1>Knowledge base</h1>
        <div class="slider-container">
            


        </div>
    </div>
    <div container="container__percents">
        <app-card-percent> </app-card-percent>
    </div>
    <div class="container__row">
        <h1>Top Drivers</h1>

    </div>
</div>