<div class="main">
  <app-single-horizontal-card></app-single-horizontal-card>
  <app-single-horizontal-card></app-single-horizontal-card>
  <app-single-horizontal-card></app-single-horizontal-card>
  <app-single-horizontal-card></app-single-horizontal-card>
  <app-single-horizontal-card></app-single-horizontal-card>
  <app-single-horizontal-card></app-single-horizontal-card>
  <app-single-horizontal-card></app-single-horizontal-card>
  <app-single-horizontal-card></app-single-horizontal-card>
</div>
