<div class="progress-bar">
    <div class="progress-bar__item" >
        Pending <span>(34)</span> >
    </div>
    <div class="progress-bar__item">
        In Progress <span>(34)</span> >
    </div>
    <div class="progress-bar__item">
        Completed <span>(34)</span> >
    </div>
    <div class="progress-bar__item">
        Upcoming <span>(34)</span> >
     </div>
     <div class="progress-bar__item">
        Pre cancelled <span>(34)</span> >
     </div>
     <div class="progress-bar__item">
        Cancelled by driver <span>(34)</span> >
     </div>
</div>