<section class="moderator-section">
  <div class="moderator-section__header">
    <h1 class="moderator-section__title">Moderators List</h1>
    <button class="moderator-section__button">Add New Moderator</button>
  </div>
  <div class="card" *ngIf="moderatorsList$ | async as airTableRecords">
    <ng-container *ngFor="let moderator of airTableRecords.records">
      <div class="card__container">
        <img
          src="https://icons.iconarchive.com/icons/diversity-avatars/avatars/512/batman-icon.png"
          [alt]="moderator.fields.name"
          class="card__img"
        />
        <h3 [innerHTML]="moderator.fields.name | titlecase" class="card__title">
          {{ moderator.fields.name }} ao
        </h3>
      </div>
    </ng-container>
  </div>
</section>
