<div class="vertical">
    <div class="horizontal">
        <picture  >
            <img class="img" src="https://i.pravatar.cc/150" alt="" height="40" width="40">
        </picture>
        <div>
            <h3>Sierra Ferguson</h3>
            <p>+998 (99) 436-46-15</p>
        </div>
    </div>
    <div class="vertical">
        <div class="card">
            <h3>Created</h3>
            <span>04.12.2021 20:30:37</span>
        </div>
        <div class="card">
            <h3>Why do we use it?</h3>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
            <span>04.12.2021 20:30:37</span>
        </div>

    </div>

</div>