.vertical {
    display: flex;
    flex-direction: column;
    color: white;

    &__cards {
        padding-left: 1rem;
        margin-left: 1rem;
        border-left-width: 2px;
        border-top: 0px;
        border-bottom: 0px;
        border-right: 0px;
        border-style: solid;
        border-color: rgba(220, 38, 38, var(--tw-border-opacity));
        height: 100%;
    }
}

.horizontal {
    display: flex;
    flex-direction: row;
}

.img {
    border-radius: 9999px;
}

.card {
    background-color: white;
    color: #000;
    border-bottom: 1px solid var(blue-dark-color);
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    padding-inline: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 1rem;

}

.p-0 {
    padding: 0;
    margin-block: 0;
}

.pl-2 {
    padding-left: 0.5rem;
}

.h-full {
    height: 100%;
}