
.container{
    width: 200px;
    height: 100px;
    box-sizing: content-box;
    border: red 10px solid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 20px;
}