<div class="container">
    <label for="input" class="container__label">{{label}}</label>
    <input 
    type="text" 
    id="input" 
    class="container__input" 
    [placeholder]="placeholder"
    [style.border]="border"
    [style.width]="width"
    [formControl]="control"
    [class.container__input--error]="control.errors && control.touched">
   
   <div class="section">
       <small *ngIf="control?.errors?.['required'] && control.touched"
       class="messagge">-Este campo es requerido</small>
       <small *ngIf="control?.errors?.['minlength'] "
       class="messagge">-La longitud debe ser mayor a {{minLength}}</small>
       <small *ngIf="control?.errors?.['pattern'] "
       class="messagge">-{{pattern}}</small>
   </div>
 
</div>
