.container-login{
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__image{
        flex-basis: 25vw;
        height: 75vh;
        background-color: white;
        box-shadow: 8px 7px 14px -2px rgba(255,255,255,0.75);
        -webkit-box-shadow: 8px 7px 14px -2px rgba(255,255,255,0.75);
        -moz-box-shadow: 8px 7px 14px -2px rgba(255,255,255,0.75);
    }

    &__background-login{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.form{
    background-color: white;
    flex-basis: 25vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 8px 7px 14px -2px rgba(255,255,255,0.75);
    -webkit-box-shadow: 8px 7px 14px -2px rgba(255,255,255,0.75);
    -moz-box-shadow: 8px 7px 14px -2px rgba(255,255,255,0.75);

    &__title{
        font-size: 25px;
        font-weight: bold;
    }

    &__subtitle{
        font-size: 15px;
        color: #9FA2B4;
        text-align: center;
    }

    &__logo{
        width: 150px;
        height: 150px;
    }

    &__link{
        font-weight: bold;
        color: black;
    }

    &__header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }

    &__body{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: 90px;
    }

    &__footer{
        color: #9FA2B4;
    }

}

.input-group{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 4px;

    &__label{
        font-size: 13px;
        font-weight: bold;
        margin-top: 15px;
    }

    &__input{
        border: 1px solid black;
        border-radius: 10px;
        width: 290px;
        padding: 10px 10px;

        &--invalid{
            border-color: red;
            color: red;
        }
    }

    &--invalid{
        color: red;
        font-weight: bold;
    }
}

.form-submit{
    margin-top: 20px;
    width: 100%;

    &__loading{
        width: 12px;
        height: 12px;
    }

    &__btn{
        border-radius: 10px;
        width: 100%;
        background-color: black;
        color: white;
        padding: 10px 10px;
    }
}