<div class="container-login">
    <div class="container-login__image">
        <img src="" alt="background_login">
    </div>
    <div class="form">
        <div class="form__header">
            <img src="" alt="logo_login">
            <h1>Log In to Admin Panel</h1>
            <p>Enter your phone number and password below</p>
        </div>
        <div class="form__body">
            <form action="">
                <div class="input-group">
                    <label for="PHONE NUMBER" class="input-group__label"></label>
                    <input type="text" class="input-group__input" placeholder="Enter your phone number" >
                    <small class="input-group--invalid">Invalid Phone Number</small>
                </div>
                <div class="input-group">
                    <label for="PASSWORD" class="input-group__label"></label>
                    <input type="password" class="input-group__input" placeholder="Enter your password">
                    <small class="input-group--invalid">Invalid Password</small>
                </div>
                <div class="form-submit">
                    <button type="submit" class="form-submit__btn">Log In</button>
                </div>
            </form>
        </div>
        <div class="form_footer">
            <p>Don't have account? <span>Sign up</span></p>
        </div>
    </div>
</div>