<ng-container *ngIf="drivers$ | async as drivers">
  <div class="container__header">
    <h1>Top Drivers</h1>
    <div class="container__header-icon">></div>
  </div>
  <div *ngFor="let driver of drivers.records">
    <app-card-driver
      *ngIf="driver.fields as driverInfo"
      [phone]="driverInfo.phone"
      [name]="driverInfo.name"
      [orders]="driverInfo.orders.toString()"
      [income]="driverInfo.income.toString()"
      [image]="'https://i.pravatar.cc/150?img=' + driverInfo.ID.toString()"
    />
  </div>
</ng-container>
