.container {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-icon {
      font-size: 18px;
      color: #2E3A59;
    }
  }
}

h1 {
  color: var(--blue-dark-color);
  font-size: 1.5rem;
  line-height: 2rem;
}
