<section class="layout">
  <section class="layout_mainCard mainCard">
    <div class="flex"></div>
    <div class="client-section__header">
      <div class="search">
        <h1 class="client-section__title">Client list</h1>
      </div>
      <div class="">
        <app-button
          name="Add New Clients"
          [color]="'#ffffffff'"
          width="170px"
          height="38px"
          [border]="'none'"
          background="var(--primary-color)"
          (click)="openDialog()"
        ></app-button>
      </div>
    </div>

    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>User</th>
            <th>Total rides</th>
            <th>Total finished</th>
            <th>Home Location</th>
            <th>Work Location</th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngIf="clientsList$ | async as clientsList">
          <tr *ngFor="let client of clientsList.records">
            <ng-container *ngIf="client.fields as clientFields">
              <td class="column">
                <div class="column__avatar-column">
                  <img [src]="clientFields.imageSrc" />
                </div>
                <div class="column__avatar-container">
                  <span>{{ clientFields.name }} </span>
                  <span>{{ clientFields.phone }} </span>
                </div>
              </td>
              <td>{{ clientFields.totalRides }}</td>
              <td>{{ clientFields.totalFinished }}</td>
              <td>{{ clientFields.homeLocation }}</td>
              <td>{{ clientFields.workLocation }}</td>
              <td class="acctions">
                <div class="acctions__icons">
                  <a >
                    <i class="fa fa-pencil"></i>
                  </a>
                  <i
                    class="fa fa-trash-o"
                    data-bs-toggle="modal"
                    data-bs-target="#deleteModal"
                  >
                  </i>
                </div>
              </td>
            </ng-container>
          </tr>
        </tbody>
      </table>
      <div class="pagination">
        <button type="button"></button>
        <button type="button">1</button>
        <button type="button">2</button>
      </div>
    </div>
  </section>
</section>
