hr {
    border-width: 0px;
    height: 1px;
    background-color: #E5E7EB;
}

td {
    padding: 0.5em;
}

.table {

    &__head {
        text-align: left;
        background-color: #F7F8FA;
        border: 1px solid #EFF0F4;
        display: table-caption;
        border-radius: 8px;
        padding: 0.5em;

        &--th2 {
            width: 212px;
        }

    }

    &__body {
        display: table-row;

        &--1 {
            color: var(--dark-color);
        }
        &--user{
            display: flex;
        }
        &--img{
            width: 60px;
            height: 60px;
            border-radius: 100%;
            padding: 4px;
            border: 2px solid var(--light-gray-color);
        }
    }
}

.footer {
    display: flex;
    justify-content: space-between;

}

.pagination {
    margin-top: 20px;
    text-align: right;

    a {
        display: inline-block;
        padding: 5px 10px;
        background-color: #eee;
        color: black;
        margin-right: 5px;

        &:hover {
            background-color: #ddd;
        }
    }
}
