@import './assets/colors.scss';
/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--dark-color);
}

:root {
    --primary-color: #{$primary-color};
    --secondary-color: #{$secondary-color};
    --tertiary-color: #{$tertiary-color};
    --success-color: #{$success-color};
    --pink-color: #{$pink-color};
    --orange-color: #{$orange-color};
    --blueberry-color: #{$blueberry-color};
    --green-color: #{$green-color};
    --danger-color: #{$danger-color}; 
    --light-gray-color: #{$light-gray-color};
    --gray-color: #{$gray-color};
    --blue-dark-color: #{$blue-dark-color};
    --dark-color: #{$dark-color};
}