<div class="sidebar">
    <div class="sidebar__row sidebar--align">
        <img class="sidebar__img" src="https://i.pravatar.cc/300" alt="profile_pic">
        <div class="sidebar__col">
            <p><strong>Nombre</strong></p>
            <p>+593 123 123 123</p>
        </div>
    </div>
    <div class="sidebar__row">
        <p>MAIN MENU</p>
    </div>
    <div [routerLink]="option.route" class="sidebar__row" *ngFor="let option of menuOptions"  [class.sidebar__row--selected]="true">
        <app-icon  name="{{option.icon}}" width="80px" height="80px" color="var(--light-gray-color)"></app-icon>
        <p>{{option.name}}</p>  
    </div>
</div>
