<div class="sidebar">
    <div class="sidebar__row">
        <img src="https://i.pravatar.cc/300" alt="profile_pic">
        <div class="sidebar__col">
            <p>Nombre</p>
            <p>+593 123 123 123</p>
        </div>
    </div>
    <div class="sidebar__row">
        <p>MAIN MENU</p>
    </div>
    <div [routerLink]="option.route" class="sidebar__row" *ngFor="let option of menuOptions">
        <app-icon  name="icon-{{option.icon}}"></app-icon>
        <p>{{option.name}}</p>  
    </div>
</div>
