$primary-color: #5459ea;
$secondary-color: #ff9533;
$tertiary-color: #ff333f;
$success-color: #24c18f;
$pink-color: #f86060;
$orange-color: #ffb978;
$blueberry-color: #778dff;
$green-color: #64e562;
$danger-color: #ff0000;
$light-gray-color: #f7f9fc;
$gray-color: #9fa2b4;
$blue-dark-color: #2e3a59;
$dark-color: #101010;
$bluish-gray-color: #8388a2;
$gray-thead-color: #f3fbfb;
$gray-tborder-color: #acb4bc;
$gray-ttext-color: #9c9cac;
