$primary-color: #5459EA;
$secondary-color: #FF9533;
$tertiary-color: #FF333F;
$success-color: #24C18F;
$pink-color: #F86060;
$orange-color: #FFB978;
$blueberry-color: #778DFF;
$green-color: #64E562;
$danger-color: #ff0000;
$light-gray-color: #F7F9FC;
$gray-color: #9FA2B4;
$blue-dark-color: #2E3A59;
$dark-color: #101010;
